body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 1.2em; /* Aumentar tamaño de la fuente del label */
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px; /* Aumentar padding para un mejor aspecto */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em; /* Aumentar tamaño de la fuente del input */
}

input:focus,
select:focus {
    border-color: #007BFF;
    outline: none;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Ancho reducido */
    transition: background-color 0.3s;
}

.btn:last-child {
    margin-right: 0; /* Eliminar margen derecho del último botón */
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d; /* Color gris */
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268; /* Color gris más oscuro al hacer hover */
}

